* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light-grey: #ececec;
  --yellow: #E2FC91;
  --purple: #A675F5;
  --blue: #050542;
  --green: #66E5BF;

  --c-background: var(--light-grey);
  --c-text: var(--blue);
  --c-highlight: var(--yellow);

  --font-family: 'Open Sans', sans-serif;

  /* sizing */
  --grid-1: 100vw / 24;
  --grid-1-calc: calc(var(--grid-1));
  
  --border-radius: 1.1em;
  --padding: clamp(1rem, var(--grid-1-calc), 2rem);
}

body {
  background: var(--c-background);
  color: var(--c-text);
  font-family: var(--font-family);
}

.theme-default {
  --c-background: var(--light-grey);
  --c-text: var(--blue);
  --c-highlight: var(--yellow);
}

.theme-purple {
  --c-background: var(--purple);
  --c-text: var(--light-grey);
  --c-highlight: var(--yellow);
}

.theme-blue {
  --c-background: var(--blue);
  --c-text: var(--light-grey);
  --c-highlight: var(--yellow);
}

.theme-green {
  --c-background: var(--green);
  --c-text: var(--light-grey);
  --c-highlight: var(--yellow);
}

/* typography */
a {
  font-family: inherit;
  color: inherit;
}

/* Typo */
.font-bold {
  font-weight: 600;
}

.font-semibold {
  font-weight: 550;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

h1, .xlarge-heading {
  font-size: clamp(3rem, calc(72 / 60 * var(--grid-1)), 6rem);
  letter-spacing: -0.05em;
  line-height: 1;
}

h2, .large-heading {
  font-size: clamp(2rem, calc(52 / 60 * var(--grid-1)), 4.375rem);
  letter-spacing: -0.06em;
  line-height: 1;
}

h3, .medium-heading {
  font-size: clamp(1.5rem, calc(40 / 60 * var(--grid-1)), 3.25rem);
  letter-spacing: -0.05em;
  line-height: 1.1;
}

h4, .small-heading {
  font-size: clamp(1rem, calc(18 / 60 * var(--grid-1)), 1.5rem);
  letter-spacing: -0.03em;
  line-height: 1;
}

h5, h6, .xlarge-body {
  font-size: clamp(1.25rem, calc(24 / 60 * var(--grid-1)), 2rem);
  letter-spacing: -0.04em;
  line-height: 1.33;
}


.large-body {
  font-size: clamp(1rem, calc(18 / 60 * var(--grid-1)), 1.5rem);
  letter-spacing: -0.04em;
  line-height: 1.5;
}

.medium-body {
  font-size: clamp(0.875rem, calc(16 / 60 * var(--grid-1)), 1.25rem);
  letter-spacing: -0.01em;
  line-height: 1.5;
}

.small-body {
  font-size: clamp(0.75rem, calc(14 / 60 * var(--grid-1)), 1.125rem);
  letter-spacing: -0.01em;
  line-height: 1.5;
}

.xsmall-body {
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 1;
}

.caps {
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

/* Spacing */
.p {
  font-size: clamp(1rem, calc(18 / 60 * var(--grid-1)), 1.5rem);
  letter-spacing: -0.03em;
}

h1, h2, h3, h4, h5, h6 {
  & + p,
  & + .p {
    margin-top: 1em;
  }
}

p, .p {
  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 0.8em;
  }
}

p, .p {
  & + p,
  & + .p {
    margin-top: 1em;
  }
}

section {
  background: var(--c-background);
  color: var(--c-text);
  padding-top: 5rem !important; /* reveal.js override: keeps controls visible */
  padding-bottom: 5rem !important; /* reveal.js override: keeps controls visible */
}


/* 'code' strings: */

.code-string-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.code-string {
  display: inline-block;
  width: max-content;
  max-width: 100%;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
}

.code-string.is-filled {
  color: var(--c-highlight);
  background: var(--c-text);
  border: 0.1em solid var(--c-text);
}

.code-string.is-outlined {
  border: 0.1em solid var(--c-text);
  color: var(--c-text);
}

.code-string.is-emoji {
  padding: 0.5em;
  min-width: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
